.gif-selector {
    & img:hover {
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }
}
// .gif-image {
//     padding: 20px 0;
//     background-color: #f8fafc;
//     border: 1px solid #ced4da;

//     opacity: 0.3;
//     & input,
//     & [contenteditable] {
//         width: 100%;
//         padding: 10px;
//         border: 1px solid #e4e4e4;
//         border-radius: 3px;
//         outline: none;
//         font-size: 14px;
//     }
//     & img {
//         max-width: 100%;
//         margin-bottom: 15px;
//     }
// }
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    &:after {
        content: " ";
        display: block;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: 8px;
        box-sizing: border-box;
        border: 70px solid rgb(166, 225, 255);
        border-color: rgb(0, 247, 255) transparent rgb(0, 247, 255) transparent;
        animation: lds-hourglass 1.2s infinite;
    }
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(360deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        border-color: rgb(0, 101, 151) transparent rgb(0, 101, 151) transparent;
    }
    100% {
        transform: rotate(720deg);
    }
}
